<div class="filter-wrapper" #filterWrapper *ngIf="!shimmer">
  <div #componentToAnimate class="animated-div " [@.disabled]="DisabledAnimation">
    <div class="white-bg">
      <a (click)="resetFilter()" class="reset-all" fxLayout="row" fxLayoutAlign="center center">Reset All</a>
      <div class="heading" fxLayout="row" fxLayoutAlign="space-between center">
        <h2 (click)="toggleFilterSections('packageName')">
          <span class="ak-right right" [class.expand]="showFilterPackageName"></span>
          {{'Package name' }}
        </h2>
      </div>
      <div class=" m-b-20 with-closebtn" *ngIf="showFilterPackageName" [@expand]>
        <input #input type="text" class="form-control hotel-name" name="packageSearch"
          placeholder="{{'Search by package name' }}" autocomplete="off" [(ngModel)]="packageName"
          (input)="nameFilter($event)">
      </div>

      <mat-divider class="divider"></mat-divider>
      <div class="heading" fxLayout="row" fxLayoutAlign="space-between center">
        <h2 (click)="toggleFilterSections('priceRange')">
          <span class="ak-right right" [class.expand]="showFilterPriceRange"></span>
          {{'Price Range' }}
        </h2>

      </div>
      <ul class="checkouter overflow-hidden" *ngIf="showFilterPriceRange " [@expand]>
        <li >
          <mat-checkbox *ngFor="let prRange of filterSetData.priceRange;index as i" class="check" [checked]="filterSetData?.priceRange[i]?.checked"
            (change)="priceRange($event,i)">{{i==0?'Upto':(filterSetData?.priceRange[1]?.from  | number: '1.0-0')}} {{currency}} {{i==priceRange.length-1?'& More':filterSetData?.priceRange[i]?.to | number: '1.0-0'}}</mat-checkbox>
        </li>
      </ul>
      <mat-divider class="divider"></mat-divider>
      <div class="heading" fxLayout="row" fxLayoutAlign="space-between center">
        <h2 (click)="toggleFilterSections('types')">
          <span class="ak-right right" [class.expand]="showFilterTypes"></span>
          {{'Type' }}
        </h2>

      </div>
      <ul *ngIf="showFilterTypes" class="checkouter overflow-hidden" [@expand]>
        <li *ngFor="let item of filterSetData?.types;let i = index">
          <!-- <div *ngIf="i < 5"> -->
            <mat-checkbox class="check" [checked]="item.checked" (change)="filterTypes($event,i,item?.name)">
              <span class="ellipsistext-fullwidth" title="">{{item?.name}}</span>
            </mat-checkbox>
          <!-- </div> -->
        </li>
      </ul>
      <mat-divider class="divider"></mat-divider>
      <div class="heading" fxLayout="row" fxLayoutAlign="space-between center">
        <h2 (click)="toggleFilterSections('category')">
          <span class="ak-right right" [class.expand]="showFilterCategory"></span>
          {{'Category' }}
        </h2>

      </div>
      <ul *ngIf="showFilterCategory" class="checkouter overflow-hidden" [@expand]>
        <li *ngFor="let item of filterSetData?.categories;let i = index">
          <!-- <div *ngIf="i < 5"> -->
            <mat-checkbox class="check" [checked]="item.checked" (change)="filterCategories($event,i,item?.name)">
              <span class="ellipsistext-fullwidth" title="">{{item?.name}}</span>
            </mat-checkbox>
          <!-- </div> -->
        </li>
      </ul>

      <mat-divider class="divider"></mat-divider>
      <div class="heading" fxLayout="row" fxLayoutAlign="space-between center">
        <h2 (click)="toggleFilterSections('locations')">
          <span class="ak-right right" [class.expand]="showFilterLocations"></span>
          {{'Packages From' }}
        </h2>

      </div>
      <ul *ngIf="showFilterLocations" class="checkouter overflow-hidden" [@expand]>
        <li *ngFor="let item of filterSetData?.locations;let i = index">
          <div *ngIf="i < 5">
            <mat-checkbox class="check" [checked]="item.checked" (change)="filterLocations($event,i,item?.name)">
              <span class="ellipsistext-fullwidth" title="">{{item?.name}}</span>
            </mat-checkbox>
          </div>
        </li>
      </ul>
      <ng-container *ngIf="viewAllLoc ">
        <a *ngIf="showFilterLocations" class=" morelink" (click)="setVieworShow('locations')">View all</a>
      </ng-container>
      <ng-container *ngIf="showLessLoc">
        <ul *ngIf="showFilterLocations" class="checkouter overflow-hidden" [@expand]>
          <li *ngFor="let item of filterSetData?.locations;let i = index">
            <div *ngIf="i >= 5">
              <mat-checkbox class="check" [checked]="item.checked" (change)="filterLocations($event,i,item?.name)">
                <span class="ellipsistext-fullwidth" title="">{{item?.name}}</span>
              </mat-checkbox>
            </div>
          </li>
        </ul>
        <a *ngIf="showFilterLocations" class=" morelink" (click)="setVieworShow('locations')">Show Less</a>
      </ng-container>
    </div>
  </div>
</div>

<!-- skeleton -->

<div class="filter-wrapper skeleton" *ngIf="shimmer">
  <div class="skeleton white-bg">
    <div class="heading" fxLayout="row" fxLayoutAlign="space-between center">
      <h2 class="shine"></h2>
      <a href="#" class="reset shine"></a>
    </div>
    <div class="inputdiv shine"></div>

    <mat-divider class="divider shine"></mat-divider>
    <div class="heading" fxLayout="row" fxLayoutAlign="space-between center">
      <h2 class="shine"></h2>
      <a href="#" class="reset shine"></a>
    </div>
    <ul class="checkstyle shine">
      <li fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="10px">
        <div class="checkbox shine"></div>
        <p class="shine"></p>
      </li>
      <li fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="10px">
        <div class="checkbox shine"></div>
        <p class="shine" style="width: 60%"></p>
      </li>
      <li fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="10px">
        <div class="checkbox shine"></div>
        <p class="shine" style="width: 40%"></p>
      </li>
      <li fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="10px">
        <div class="checkbox shine"></div>
        <p class="shine" style="width:20%"></p>
      </li>
      <li fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="10px">
        <div class="checkbox shine"></div>
        <p class="shine" style="width:10%"></p>
      </li>
    </ul>

    <mat-divider class="divider shine"></mat-divider>

    <div class="heading" fxLayout="row" fxLayoutAlign="space-between center">
      <h2 class="shine"></h2>
      <a href="#" class="reset shine"></a>
    </div>
    <ul class="times shine" fxLayout="row" fxLayoutAlign="space-between center">
      <li class="shine"></li>
      <li class="shine"></li>
      <li class="shine"></li>
      <li class="shine"></li>
    </ul>
    <mat-divider class="divider shine"></mat-divider>
    <div class="heading" fxLayout="row" fxLayoutAlign="space-between center">
      <h2 class="shine"></h2>
      <a href="#" class="reset shine"></a>
    </div>
    <ul class="checkstyle">
      <li fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="10px">
        <div class="checkbox shine"></div>
        <p class="shine" style="width: 55%"></p>
      </li>
      <li fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="10px">
        <div class="checkbox shine"></div>
        <p class="shine"></p>
      </li>
      <li fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="10px">
        <div class="checkbox shine"></div>
        <p class="shine" style="width: 65%"></p>
      </li>
      <li fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="10px">
        <div class="checkbox shine"></div>
        <p class="shine"></p>
      </li>
      <li fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="10px">
        <div class="checkbox shine"></div>
        <p class="shine" style="width: 35%"></p>
      </li>
    </ul>

    <mat-divider class="divider"></mat-divider>
    <div class="heading" fxLayout="row" fxLayoutAlign="space-between center">
      <h2 class="shine"></h2>
      <a href="#" class="reset shine"></a>
    </div>
    <ul class="checkstyle">
      <li fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="10px">
        <div class="checkbox shine"></div>
        <p class="shine" style="width: 55%"></p>
      </li>
      <li fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="10px">
        <div class="checkbox shine"></div>
        <p class="shine"></p>
      </li>
      <li fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="10px">
        <div class="checkbox shine"></div>
        <p class="shine" style="width: 65%"></p>
      </li>
      <li fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="10px">
        <div class="checkbox shine"></div>
        <p class="shine"></p>
      </li>
      <li fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="10px">
        <div class="checkbox shine"></div>
        <p class="shine" style="width: 35%"></p>
      </li>
    </ul>

  </div>
</div>