<div class="modal" id="supportChat" tabindex="-1" role="dialog" style="display: block;">
    <div class="modal-dialog popupmoving" role="document">
        <div class="modal-content">
            <div class="modal-body" style="padding-bottom: 0;">
                <div class="closeBtton" (click)="close()">
                    <img src="/assets/images/close.svg" alt="">
                </div>
                <div>
                    <iframe class="framehieght" src="https://tawk.to/chat/61125186649e0a0a5cd06b57/1fcnosua7"></iframe>
                </div>
            </div>

        </div>
    </div>
</div>