<form [formGroup]="travelForm" (ngSubmit)="onSubmit();">
    <div formArrayName="travellers">
        <mat-accordion>
            <div *ngFor="let travel of travellerArray().controls; let i=index">
                <mat-expansion-panel [formGroupName]="i" [expanded]="step === i" (opened)="setStep(i)">
                    <mat-expansion-panel-header>
                      <mat-panel-title>
                          <mat-icon class="mr-3">account_circle</mat-icon> Passport {{i+1}}
                      </mat-panel-title>
                    </mat-expansion-panel-header>
                    
                    <div class="passport_section">
                      <div class="row mx-0 mb-2">
                          <div class="col-md-5 pl-0">
                              <div class="upload-boxs d-flex align-items-center">
                                  <div class="text-center w-100">
                                      <img src="/assets/images/upload-personal-photo.png" class="upload_logo" alt="">
                                      <p class="clr52">Upload Passport Front Page</p>
                                  </div>
                              </div>
                          </div>
                          <div class="col-md-7 px-0 mt15">
                              <div class="row mx-0">
                                  <div class="col-md-3">
                                      <mat-form-field class="w-100" appearance="outline">
                                          <mat-label class="">Passport Type</mat-label>
                                          <input matInput formControlName="passport_type" placeholder="Passport Type" required>
                                      </mat-form-field>
                                  </div>
                                  <div class="col-md-9">
                                      <mat-form-field class="w-100" appearance="outline">
                                          <mat-label class="">Passport Number</mat-label>
                                          <input matInput formControlName="passport_no" placeholder="Passport Number" required>
                                      </mat-form-field>
                                  </div>
                                  <div class="col-md-4">
                                      <mat-form-field class="w-100" appearance="outline">
                                          <mat-label class="">First Name</mat-label>
                                          <input matInput formControlName="first_name" placeholder="First Name" required>
                                      </mat-form-field>
                                  </div>
                                  <div class="col-md-4">
                                      <mat-form-field class="w-100" appearance="outline">
                                          <mat-label class="">Middle Name</mat-label>
                                          <input matInput formControlName="middle_name" placeholder="Middle Name">
                                      </mat-form-field>
                                  </div>
                                  <div class="col-md-4">
                                      <mat-form-field class="w-100" appearance="outline">
                                          <mat-label class="">Last Name</mat-label>
                                          <input matInput formControlName="last_name" placeholder="Last Name" required>
                                      </mat-form-field>
                                  </div>
                                  <div class="col-md-6">
                                      <mat-form-field class="w-100" appearance="outline">
                                          <mat-label class="">Birth Nationality </mat-label>
                                          <input matInput formControlName="nationality" placeholder="" value="" required>
                                      </mat-form-field>
                                  </div>
                                  <div class="col-md-6 my-auto">
                                      <mat-radio-group aria-label="Select an option" class="" formControlName="gender">
                                          <mat-radio-button value="MALE" class="mr-3">Male</mat-radio-button>
                                          <mat-radio-button value="FEMALE">Female</mat-radio-button>
                                      </mat-radio-group>
                                  </div>
                                  <div class="col-md-4">
                                      <mat-form-field class="w-100" appearance="outline" [owlDateTimeTrigger]="dt1">
                                          <mat-label class="">Date Of Birth </mat-label>
                                          <input matInput formControlName="dob" placeholder="Date Of Birth" [owlDateTime]="dt1" [max]="toDay" required>
                                          <mat-icon matSuffix><span class="icns calendaricon icon_size_20 cursor_pointer"></span> </mat-icon>
                                      </mat-form-field>
                                      <owl-date-time [pickerType]="'calendar'" #dt1></owl-date-time>
                                  </div>
                                  <div class="col-md-4">
                                      <mat-form-field class="w-100" appearance="outline">
                                          <mat-label class="">Place of Birth </mat-label>
                                          <input matInput formControlName="birth_place" placeholder="" value="" required>
                                      </mat-form-field>
                                  </div>
                                  <div class="col-md-4">
                                      <mat-form-field class="w-100" appearance="outline">
                                          <mat-label class="">Passport Isuue Place</mat-label>
                                          <input matInput formControlName="passport_city" placeholder="place" required>
                                      </mat-form-field>
                                  </div>
                                  <div class="col-md-4">
                                      <mat-form-field class="w-100" appearance="outline" [owlDateTimeTrigger]="dt2">
                                          <mat-label class="">Date Of Issue</mat-label>
                                          <input matInput formControlName="date_of_issue" [owlDateTime]="dt2" placeholder="Date Of Issue" [max]="toDay" required>
                                          <mat-icon matSuffix><span class="icns calendaricon icon_size_20 cursor_pointer"></span> </mat-icon>
                                      </mat-form-field>
                                      <owl-date-time [pickerType]="'calendar'" #dt2></owl-date-time>
                                  </div>
                                  <div class="col-md-4">
                                      <mat-form-field class="w-100" appearance="outline" [owlDateTimeTrigger]="dt3">
                                          <mat-label class="">Date of Expiry</mat-label>
                                          <input matInput formControlName="passport_expiry_date" [owlDateTime]="dt3" placeholder="Date of Expiry" [min]="minpassportExpDate" required>
                                          <mat-icon matSuffix><span class="icns calendaricon icon_size_20 cursor_pointer"></span> </mat-icon>
                                      </mat-form-field>
                                      <owl-date-time [pickerType]="'calendar'" #dt3></owl-date-time>
                                  </div>
                              </div>
                              
                          </div>
                      </div>
                  
                      <div class="row mx-0 second-section">
                          <div class="col-md-5 pl-0">
                              <div class="upload-boxs d-flex align-items-center">
                                  <div class="text-center w-100">
                                      <img src="/assets/images/upload-personal-photo.png" class="upload_logo" alt="">
                                      <p class="clr52">Upload Passport Back Page</p>
                                  </div>
                              </div>
                          </div>
                          <div class="col-md-7 px-0 mt15">
                              <div class="row mx-0">
                                  <div class="col-md-6">
                                      <mat-form-field class="w-100" appearance="outline">
                                          <mat-label class="">Father Name</mat-label>
                                          <input matInput formControlName="father_name" placeholder="Father Name" required>
                                      </mat-form-field>
                                  </div>
                                  <div class="col-md-6">
                                      <mat-form-field class="w-100" appearance="outline">
                                          <mat-label class="">Mother Name</mat-label>
                                          <input matInput formControlName="mother_name" placeholder="Mother Name" required>
                                      </mat-form-field>
                                  </div>
                                  <div class="col-md-6">
                                      <mat-form-field class="w-100" appearance="outline">
                                          <mat-label class="">Husband Name</mat-label>
                                          <input matInput formControlName="husband_name" placeholder="Husband Name">
                                      </mat-form-field>
                                  </div>
                                  <div class="col-md-6">
                                      <mat-form-field class="w-100" appearance="outline">
                                          <mat-label class="">Address line1</mat-label>
                                          <input matInput formControlName="address" placeholder="Address line1" required>
                                      </mat-form-field>
                                  </div>
                                  <div class="col-md-6">
                                      <mat-form-field class="w-100" appearance="outline">
                                          <mat-label class="">City </mat-label>
                                          <input matInput formControlName="city" placeholder="City" value="" required>
                                      </mat-form-field>
                                  </div>
                                  <div class="col-md-6">
                                      <mat-form-field class="w-100" appearance="outline">
                                          <mat-label class="">Country</mat-label>
                                          <input matInput formControlName="country_of_residence" placeholder="Country" required>
                                      </mat-form-field>
                                  </div>
                              </div>
                              
                          </div>
                      </div>
                  </div>
                    <div class="d-flex justify-content-end navigateBtn">
                        <a class="previous" (click)="previousStep()" *ngIf="i != 0">&laquo; Previous</a>
                        <a class="next" (click)="nextStep()" *ngIf="i != (travellerData.travllers - 1)">Next &raquo;</a>
                    </div>
                  </mat-expansion-panel>
            </div>
          </mat-accordion>
    </div>
    <div class="d-flex justify-content-center">
        <button type="submit" class="searchbutton" [class.bttnactive]="bttnactive">Submit</button>
    </div>
</form>
  




