<div class="container">
    <div class="row res-row skeleton p-3">
        <div class="col-12 flight-avilability mt-2 ">
            <div class="avil-head d-flex flex-column justify-content-between align-items-center ">
                <div class="w-100 pl-res d-flex justify-content-between align-items-center ">
                    <div class="left ">
                        <div class="icon shine "> </div>
                        <div class="f-detail ">
                            <p class="name shine "></p>
                            <p class="dtil-class shine "></p>
                        </div>
                    </div>
                    <div class="right ">
                        <div class="amount ">
                            <div class="cash ">
                                <div class="total-amount d-flex align-items-end ">
                                    <span class="shine "></span>
                                    <div class="shine "></div>
                                </div>
                            </div>
                        </div>
                        <div class="amt-btn shine ">
                        </div>
                    </div>
                </div>
                <div class="res-flight-detail w-100 ">
                    <div class="res1 d-flex justify-content-between align-items-center ">
                        <div class="left ">
                            <span class="shine "></span>
                        </div>
                        <div class="right ">
                            <span class="shine "></span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="avil-body ">
                <div class="box ">
                    <div class="header ">
                        <span class="shine "></span>
                    </div>
                    <div class="body ">
                        <div>

                            <div class="item ">
                                <span class="shine "></span>
                                <div class="f-detail ">
                                    <div class="travel ">
                                        <div class="time shine "></div>
                                        <div class="place shine "></div>
                                    </div>
                                    <div class="dtil-time ">
                                        <p class="shine "></p>
                                        <div class="lines shine "></div>
                                        <span class="shine "></span>
                                    </div>
                                    <div class="travel ">
                                        <div class="time shine "></div>
                                        <div class="place shine "></div>
                                    </div>
                                </div>
                            </div>

                            <div class="more-div " @upDownAnim>
                                <div class="item ">
                                    <span class="shine "></span>
                                    <div class="f-detail ">
                                        <div class="travel ">
                                            <div class="time shine "></div>
                                            <div class="place shine "></div>
                                        </div>
                                        <div class="dtil-time ">
                                            <p class="shine "></p>
                                            <div class="lines shine "></div>
                                            <span class="shine "></span>
                                        </div>
                                        <div class="travel ">
                                            <div class="time shine "></div>
                                            <div class="place shine "></div>
                                        </div>
                                    </div>
                                </div>

                                <div class="item ">
                                    <span class="shine "></span>
                                    <div class="f-detail ">
                                        <div class="travel ">
                                            <div class="time shine "></div>
                                            <div class="place shine "></div>
                                        </div>
                                        <div class="dtil-time ">
                                            <p class="shine "></p>
                                            <div class="lines shine "></div>
                                            <span class="shine "></span>
                                        </div>
                                        <div class="travel ">
                                            <div class="time shine "></div>
                                            <div class="place shine "></div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="more ">
                                <a class="link shine ">
                                </a>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="box ">
                    <div class="header ">
                        <span class="shine "></span>
                    </div>
                    <div class="body ">
                        <div>

                            <div class="item ">
                                <span class="shine "></span>
                                <div class="f-detail ">
                                    <div class="travel ">
                                        <div class="time shine "></div>
                                        <div class="place shine "></div>
                                    </div>
                                    <div class="dtil-time ">
                                        <p class="shine "></p>
                                        <div class="lines shine "></div>
                                        <span class="shine "></span>
                                    </div>
                                    <div class="travel ">
                                        <div class="time shine "></div>
                                        <div class="place shine "></div>
                                    </div>
                                </div>
                            </div>

                            <div class="item ">
                                <span class="shine "></span>
                                <div class="f-detail ">
                                    <div class="travel ">
                                        <div class="time shine "></div>
                                        <div class="place shine "></div>
                                    </div>
                                    <div class="dtil-time ">
                                        <p class="shine "></p>
                                        <div class="lines shine "></div>
                                        <span class="shine "></span>
                                    </div>
                                    <div class="travel ">
                                        <div class="time shine "></div>
                                        <div class="place shine "></div>
                                    </div>
                                </div>
                            </div>

                            <div class="more-div " @upDownAnim>
                                <div class="item ">
                                    <span class="shine "></span>
                                    <div class="f-detail ">
                                        <div class="travel ">
                                            <div class="time shine "></div>
                                            <div class="place shine "></div>
                                        </div>
                                        <div class="dtil-time ">
                                            <p class="shine "></p>
                                            <div class="lines shine "></div>
                                            <span class="shine "></span>
                                        </div>
                                        <div class="travel ">
                                            <div class="time shine "></div>
                                            <div class="place shine "></div>
                                        </div>
                                    </div>
                                </div>

                                <div class="item ">
                                    <span class="shine "></span>
                                    <div class="f-detail ">
                                        <div class="travel ">
                                            <div class="time shine "></div>
                                            <div class="place shine "></div>
                                        </div>
                                        <div class="dtil-time ">
                                            <p class="shine "></p>
                                            <div class="lines shine "></div>
                                            <span class="shine "></span>
                                        </div>
                                        <div class="travel ">
                                            <div class="time shine "></div>
                                            <div class="place shine "></div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="more ">
                                <a class="link shine ">
                                </a>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <div class="avil-footer ">
                <div class="refund shine "></div>
                <span class="shine "></span>
            </div>
        </div>
    </div>
</div>