#customers{
    td,th{
        font-size: 12px;
    }
    td{
        cursor: pointer;
    }
}

.fluxPos{
    position: sticky;
    top: 60px;
}

.item-list {
  border: 1px solid #dfdfdf;
  border-radius: 3px;
  overflow: hidden;
  position: relative;
}

.item-list .thumb-image {
  overflow: hidden;
  height: 190px;
  background: #ccc;
}

.thumb-image {
  display: block;
  width: 100%;
  padding-bottom: 69%;
  overflow: hidden;
  background: linear-gradient(118deg,#f6f9fb,#e2ebef);
  position: relative;
}

.mt70{
  margin-top: 70px;
}

.item-list .item-title {
  padding: 15px 0 10px;
  font-size: 16px;
  line-height: 22px;
}

.location {
  font-size: 13px;
  color: #5e6d77;
  padding-bottom: 10px;
}
.item-title a {
  color: #1a2b50;
}

.location i{
  position: relative;
  font-size: 16px;
}

.control-action {
  text-align: right;
  margin-right: 15px;
  position: absolute;
  right: 13px;
  bottom: 15px;
}

.control-action .btn {
  padding: 5px 10px;
  font-size: 12px;
  color: #fff;
  border-radius: 5px;
  min-width: 50px;
  margin: 5px 2px 0;
}

.thumb-image a img {
  transition: all .3s;
  max-width: 100%;
}
.thumb-image img {
  display: block;
  height: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  object-fit: cover;
  position: absolute;
  margin: auto;
  min-width: 100%;
}

.item-list a {
  text-decoration: none;
  transition: all .3s;
}

.h190{
  height: 190px;
  width: 100%;
}

.managebtn{
  background-color: #5b04a3;
  border-color: #5b04a3;
}

.visabtn{
  background-color: #cd6c0c;
  border-color: #cd6c0c;
}

.editbttn{
  background-color: #cd0c0c;
  border-color: #cd0c0c;
}

.filter-data{
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid rgba(0,0,0,.125);
  border-radius: .25rem;
  padding: 1.25rem;
}

.example-radio-group {
  display: flex;
  flex-direction: column;
}