.tabl-fit{
    width: fit-content;
}

.package-itenary-div{
    margin-top: 15px;
    margin-bottom: 10px;
    .day-button-active{
        background-image: linear-gradient(to top, #357376, #06c4cf) !important;
        color: white !important;
    }
    .day-button{
        margin: 15px 0 0 15px;
        background-image: linear-gradient(to top, #ffffff, #ffffff);
        text-align: center;
        border-radius: 15px 0 0 15px;
        padding: 4px;
        font-size: 15px;
        border: 1px solid #357376;
        color: #357376;
        font-weight: 500;
        cursor: pointer;
    }
    .itenary-day-box{
        background-color: white;
    }
    .days-box{
        box-shadow: 0 0 9px 0 rgba(0, 0, 0, 0.15);
        border: solid 1px rgba(158, 169, 178, 0.28);
        .day-flight-box{
            padding: 20px 15px;
            border-bottom: 1px dashed rgba(158, 169, 178, 0.28);
        }
        .box-brdr-right{
            border-right: 1px solid rgba(158, 169, 178, 0.28);
        }
        .day-meal-box{
            padding: 20px 15px;
        }
    }
    .image_flight{
        height: 30px;
        width: 30px;
        margin-right: 15px;
    }
    .flight-navigation{
        width: 200px;
    }
    .flightdurationicon{
        margin: auto;
        max-width: 115px;
        width: 80%;
        height: 16px;
        position: relative;
    }
    .flightdurationicon::after{
        content: url(/assets/images/duration-flight-icon.png);
        position: absolute;
        right: 0;
        top: -4px;
        font-size: 18px;
    }
    .flightdurationicon::before{
        content: "";
        width: calc(100%);
        height: 0;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: 0;
        border-bottom: 1px dashed #000;
        z-index: 0;
    }
    .image_hotel{
        height: 35px;
        width: 50px;
        margin-right: 15px;
    }
  }


  ul.doc_upload_list{
    
        list-style: none;
        font-size: 18px;
        li{
            a{
                text-decoration: none;
            }
        }
    
  }

  .view-btn{
    background-color: #fce7c8;
    color: #000;
    border-radius: 5px;
    padding: 10px;
    margin-right: 5px;
    text-decoration: none;
  }

  .download-btn{
    background-color: #fce7c8;
    color: #000;
    border-radius: 5px;
    text-decoration: none;
    padding: 10px;
  }