<div class="tbl">
  <div class="container mb60 mt-5">
<div class="card mt100">
  <div class="card-header">
    <h1 class="card-title fs18 mb-0">View Enquiry & Bookings</h1>
  </div>
  <div class="card-body">
    <ul class="nav nav-tabs">
      <li class="nav-item">
        <a class="nav-link active" data-toggle="tab" href="#enquiry">B2C Bookings</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" data-toggle="tab" href="#bookings">
          B2B Bookings
        </a>
      </li>
    </ul>
    <div class="tab-content">
      <div class="tab-pane active" id="enquiry">
        <app-view-enquiry></app-view-enquiry>
      </div>
      <div class="tab-pane" id="bookings">
        <app-view-bookings></app-view-bookings>
      </div>
    </div>
  </div>
</div>
</div>
</div>
