.sub-user-div{
    .no-staff-div{
        text-align: center;
        font-size: 20px;
        padding: 20px 0;
    }
    .title{
        color: #525252;
        font-size: 12px;
    }
    .view{
        color: #000;
        font-size: 13px;
        font-weight: 500;
    }
}