.payment-success-page-div{
    .top_section {
        background-color: #1d851d;
        padding: 10px;
    }
    .bg {
        background-color: #fd5151;
        padding: 10px;
    }
    .closeimg {
        font-size: 55px;
        color: white;
        margin-right: 30px;
    }
    .main-div-itinerary{
        padding-top: 20px;
    }
    .download-div-top{
        padding-bottom: 30px;
    }
}


