<div class="modal" id="exampleModalLong" tabindex="-1" role="dialog" style="display: block;">
    <div class="modal-dialog zoomanimation" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Terms And Conditions</h5>
                <button type="button" class="close" (click)="close()">
                    <span class="ak-close1" (click)="close()"></span>
                    <!-- <span aria-hidden="true">&times;</span> -->
                </button>
            </div>
            <div class="modal-body textofall container">
                <h2>TERMS OF USE & SERVICE </h2>

                <div class="terms-condition">
                    <h3>Terms and Conditions of Use</h3>
                    <p>Editing the reservation after payment is not available.

                    </p>
                    <p>
                        Partial cancellation of reservation is not available. </p>

                </div>

                <div class="terms-condition">
                    <h3>Cancelation Policy</h3>
                    <p>
                        No refund for cancellation, 24 hours before train departure.
                    </p>
                    <p>
                        Cancellation more than 72 hours before departure, will cost 50% fee for Economy class and 35%
                        fee for Business class, deducted from ticket value.
                    </p>
                    <p>
                        Cancellation less than 72 hours before departure, will cost 85% fee for Economy class and 80%
                        fee for Business class, deducted from ticket value. </p>
                    <p>
                        UmrahTrip Service Charge: Economy class: SAR 10/Pax/Sector, Business class: SAR 20/Pax/Sector
                        The amount will be refunded to the same card used for the ticket purchases.</p>
                    <p>
                        The amount will be refunded to the same card used for ticket purchase.
                    </p>

                </div>
                <div class="terms-condition">
                    <h3>For more information or help</h3>
                    <p>Please email us on: <b>support@akbarumrah.com</b></p>
                    <p>or contact us on our numbers: <b>920002814</b></p>
                </div>
            </div>

        </div>
    </div>
</div>