.hotel-sort-div{
    .sort-div{
        .sorting-button{
            border: 1px solid #14676a;
            color: #14676a;
            border-radius: 3px;
            font-size: 13px;
            font-weight: 600;
            padding: 5px;
            cursor: pointer;
        }
    }
    .mob-sort-div{
        margin-top: 60px;
        padding: 15px;
    }
}