.more-details-div{
    margin-top: 20px;
    box-shadow: 0 0 9px 0 rgb(0 0 0 / 15%);
    border: 1px solid rgba(156, 170, 179, 0.28);
    border-radius: 5px;
    background-color: #fff;
    padding: 20px;
}