.profile_tab{
  text-align: center;
  padding: 18px;
  background-color: #0e295a;
  color: white;
  font-size: 20px;
  text-transform: uppercase;
  font-weight: 500;
}

.card_profile_data{
  padding: 20px;
  margin-top: 20px;
}

.seprateDiv{
  padding: 25px 10px;
}

.logoimage{
  height: 40px;
  width: 80%;
}

.hoverLink:hover{
  color: #116063;
  text-decoration: underline;
}