<div class="booking-itinerary-div min_page_h">
    <div class="page_hedear_div">
        <div class="container">
            <h2>{{'Itinerary' | translate}}</h2>
        </div>
    </div>

    <div class="container" *ngIf="shimmer">
        <app-itinerary-shimmer></app-itinerary-shimmer>
    </div>

    <div class="container" *ngIf="!shimmer">
        <div class="main-div-itinerary">
            <div class="row">
                <div class="col-md-9">
                    <div class="utid-text">{{'Umrah Trip Transaction Id' | translate}} - {{tripData?.reference_no}}</div>
                    
                    <div *ngIf="tripData?.makka_hotel_booking && tripData?.makka_hotel_booking != null && tripData?.makka_hotel_booking != undefined">
                        <app-itinerary-hotel-card [hotel]="tripData?.makka_hotel_booking" [currency]="selectCurrency"></app-itinerary-hotel-card>
                    </div>

                    <div *ngIf="tripData?.madina_hotel_booking && tripData?.madina_hotel_booking != null && tripData?.madina_hotel_booking != undefined">
                        <app-itinerary-hotel-card [hotel]="tripData?.madina_hotel_booking" [currency]="selectCurrency"></app-itinerary-hotel-card>
                    </div>

                    <div *ngIf="tripData?.transport_booking && tripData?.transport_booking?.total_price && tripData?.transport_booking?.total_price != null && tripData?.transport_booking?.total_price != undefined">
                        <app-itinerary-transport-card [tripTransport]="tripData?.transport_booking" [currency]="selectCurrency"></app-itinerary-transport-card>
                    </div>

                    <div>
                        <app-itinerary-pax-details [tripTravellers]="tripData?.travellers"></app-itinerary-pax-details>
                    </div>

                </div>

                <div class="col-md-3 download-div-top">

                    <app-itinerary-download-section 
                    [downloadShow]="downloadShow" 
                    [tripId]="tripId" 
                    [lang]="selectLangCode"
                    [tripData]="tripData"
                    [currency]="selectCurrency"
                    ></app-itinerary-download-section>
                    
                    <app-itinerary-fare-summary [tripData]="tripData" [currency]="selectCurrency"></app-itinerary-fare-summary>

                </div>

            </div>
        </div>
    </div>
</div>





