.animation_card{
    animation: zoom-in-card 1s ease;
}

@keyframes zoom-in-card {
    0% {
      transform: scale(.9, .9);
    }
    100% {
      transform: scale(1, 1);
    }
}

.popupmoving {
  animation: snackbarIn 0.5s;
}

@keyframes snackbarIn {
  from {
      transform: translateY(-100px);
      opacity: 0;
  }
  to {
      transform: translateY(0);
      opacity: 1;
  }
}

.popupAnimation{
    animation: zoom-card 0.5s;
}

@keyframes zoom-card {
  from {
    transform: translateY(500px);
    opacity: 0;
}
to {
    transform: translateY(0);
    opacity: 1;
}
}