<div class="cards visa-request">
    <div class="container d-flex justify-content-between">
        <div class="visa-search ">
            <div class="dubai-visa-text">
                <div class="pkgdtls">
                    <h2>Umrah Visa</h2>
                    <p>New Visa Request</p>
                </div>
            </div>
        </div>
        <div class="reference my-auto">
            <div class="ref-no ">
                <div class="ref-txt">Reference No.</div>
                <h3>{{referencrNo}}</h3>
            </div>
        </div>
    </div>
</div>