<div class="modal" id="exampleModalLong" tabindex="-1" role="dialog" style="display: block;">
    <div class="modal-dialog zoomanimation" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">الأحكام والشروط</h5>
                <button type="button" class="close" (click)="close()">
            <span aria-hidden="true">&times;</span>
          </button>
            </div>
            <div class="modal-body textofall mirr_text_right">
                <h2>شروط الاستخدام والخدمة</h2>
                <h3>تفاصيل الركاب</h3>
                <p>هذا الموقع https://www.akbarumrah.com/ (Umrah Trip) يتم نشره وصيانته بواسطة شركة Akbar Online Booking Pvt Ltd ، وهي شركة مسجلة وقائمة وفقًا لقوانين جمهورية الهند. عندما تصل إلى هذا الموقع أو تتصفحه أو تستخدمه ، فإنك تقبل ، على سبيل المثال
                    لا الحصر ، الشروط والأحكام الموضحة أدناه. عندما تقوم بالوصول إلى أي موقع فرعي (سواء كان تابعًا لـ "شريك" لشركة أكبر للسفريات أو غير ذلك) من خلال هذا الموقع ، فقد يكون لهذا الموقع الفرعي شروط وأحكام استخدام خاصة بهذا الموقع الفرعي. قد
                    تحتوي المواقع الفرعية على شروط وأحكام استخدام إضافية كما قد يتم تحديدها في هذا الموقع الفرعي.
                </p>
                <p>
                    تشكل شروط وأحكام الاستخدام هذه وأي شروط إضافية منشورة على هذا الموقع معًا الاتفاقية الكاملة بين Akbar Travels وبينك فيما يتعلق باستخدامك لهذا الموقع.
                </p>
                <h3>الموقع ومحتوياته</h3>
                <p>
                    هذا الموقع هو فقط لاستخدامك الشخصي. لا يجوز لك توزيع أي شيء تقوم بنسخه من هذا الموقع أو تعديله أو بيعه أو نقله ، بما في ذلك على سبيل المثال لا الحصر ، أي نصوص أو صور أو ملفات صوتية أو فيديو ، لأي عمل تجاري أو غرض عام. طالما أنك تمتثل لشروط وأحكام الاستخدام
                    هذه ، تمنحك Akbar Travels حقًا غير حصري وغير قابل للتحويل ومحدود للدخول إلى هذا الموقع وعرضه واستخدامه. أنت توافق على عدم مقاطعة أو محاولة مقاطعة تشغيل هذا الموقع بأي شكل من الأشكال. قد يكون الوصول إلى مناطق معينة من الموقع متاحًا
                    فقط للأعضاء المسجلين. لكي تصبح عضوًا مسجلاً ، قد يُطلب منك الإجابة على أسئلة معينة. قد تكون الإجابات على هذه الأسئلة إلزامية و / أو اختيارية. أنت تقر وتتعهد بأن جميع المعلومات التي تزودنا بها عن نفسك وعن الآخرين صحيحة ودقيقة.
                </p>
                <h3>ملكية</h3>
                <p>جميع المواد الموجودة على هذا الموقع ، بما في ذلك على سبيل المثال لا الحصر ، الصوت والصور والبرامج والنصوص والأيقونات وما شابه ("المحتوى") ، محمية بموجب حقوق النشر بموجب الاتفاقيات الدولية وقوانين حقوق النشر. لا يمكنك استخدام المحتوى ،
                    باستثناء ما هو محدد هنا. أنت توافق على اتباع جميع التعليمات الموجودة على هذا الموقع والتي تحد من طريقة استخدامك للمحتوى.</p>
                <p>هناك العديد من الشعارات وعلامات الخدمة والعلامات التجارية المسجلة الملكية الموجودة على هذا الموقع سواء كانت مملوكة / مستخدمة من قبل أكبر للسفريات أو غير ذلك. من خلال عرضها على هذا الموقع ، لا تمنحك Akbar Travels أي ترخيص لاستخدام تلك الشعارات
                    أو علامات الخدمة أو العلامات التجارية المسجلة الملكية. قد ينتهك أي استخدام غير مصرح به للمحتوى قوانين حقوق النشر وقوانين العلامات التجارية وقوانين الخصوصية والدعاية والقوانين المدنية والجنائية.</p>
                <p>يمكنك تنزيل هذه النسخة / النسخ من المحتوى لتستخدمها أنت فقط لاستخدامك الشخصي في المنزل ما لم ينص الموقع الفرعي الذي تقوم بالوصول إليه على أنه لا يجوز لك ذلك. إذا قمت بتنزيل أي محتوى من هذا الموقع ، فلا يجوز لك إزالة أي إشعارات حقوق نشر
                    أو علامة تجارية أو إشعارات أخرى مرتبطة به.</p>
                <h3>أكبر حقوق السفر</h3>
                <p>إذا قمت بإرسال أي اتصالات أو مواد إلى الموقع عن طريق البريد الإلكتروني أو غير ذلك ، بما في ذلك أي تعليقات أو بيانات أو أسئلة أو اقتراحات أو ما شابه ، فإن جميع هذه الاتصالات ستعاملها وستتعامل معها شركة Akbar Travels على أنها غير سرية. أنت
                    تتنازل بموجب هذا عن أي وجميع الادعاءات بأن أي استخدام لهذه المواد ينتهك أيًا من حقوقك بما في ذلك الحقوق المعنوية أو حقوق الخصوصية أو حقوق الملكية أو حقوق الملكية الأخرى أو حقوق الدعاية أو حقوق الائتمان للمواد أو الأفكار أو أي حق آخر
                    ، بما في ذلك الحق في الموافقة على الطريقة التي تستخدم بها Akbar Travels هذه المواد. يمكن تكييف أي مادة مقدمة إلى هذا الموقع أو بثها أو تغييرها أو نسخها أو الكشف عنها أو ترخيصها أو تنفيذها أو نشرها أو نشرها أو بيعها أو نقلها أو استخدامها
                    من قبل أكبر ترافيلز في أي مكان في العالم ، في أي وسيط ، إلى الأبد.</p>
                <h3>المواد المنقولة</h3>
                <p>نقل الإنترنت أبدا تماما خاصة أو آمنة. أنت تدرك أن أي رسالة أو معلومات ترسلها إلى هذا الموقع قد تتم قراءتها أو اعتراضها من قبل الآخرين ما لم يكن هناك إشعار خاص بأن رسالة معينة (على سبيل المثال ، معلومات بطاقة الائتمان) مشفرة (يتم إرسالها
                    بالرمز). لا يؤدي إرسال رسالة إلى Akbar Travels إلى تحمل أكبر للسفريات أي مسؤولية خاصة تجاهك. حقوق الطبع والنشر في نصوص هذا الموقع تنتمي إلى أكبر للسفريات. تبعا لذلك تحتفظ أكبر للسفريات بجميع الحقوق. يُحظر نسخ جزء أو كل نصوص هذا الموقع
                    دون إذن من Akbar Travels إلا بالقدر الذي يكون فيه هذا النسخ / الطباعة ضروريًا لأغراض الاستفادة من الخدمات المدفوعة المقدمة.</p>

                <h3>المسابقات والتفاعلات</h3>
                <p>
                    قد يحتوي هذا الموقع على مسابقات تتطلب منك إرسال مواد أو معلومات عنك أو تقديم جوائز. لكل مسابقة قواعدها الخاصة ، والتي يجب عليك قراءتها والموافقة عليها قبل المشاركة.
                </p>
                <h3>تنصل</h3>
                <p>
                    قد تحتوي المواد الموجودة في هذا الموقع على أخطاء فنية أو أخطاء مطبعية. قد تقوم Akbar Travels بإجراء تغييرات أو تحسينات في أي وقت.
                </p>
                <p>
                    يتم توفير المواد الموجودة على هذا الموقع على أساس "كما هي" ، دون أي ضمانات من أي نوع سواء كانت صريحة أو ضمنية. لا تشكل المعلومات والبرامج والمنتجات والخدمات الواردة في هذا الموقع ، وإدراج أو عرض أي منتجات أو خدمات على هذا الموقع أي تأييد أو توصية لهذه
                    المنتجات أو الخدمات من قبل أكبر للسفريات والشركات التابعة لشركة أكبر ترافيلز ومورديهم المعنيين. إلى أقصى حد مسموح به بموجب القانون المعمول به ، تتنصل Akbar Travels من جميع ضمانات القابلية للتسويق ، المتعلقة بالمعلومات ووصف الفندق أو
                    الطيران أو أي منتجات سفر أخرى معروضة على هذا الموقع (بما في ذلك ، على سبيل المثال لا الحصر ، الأسعار والصور والقائمة المرافق الفندقية ، والأوصاف العامة للمنتج ، وما إلى ذلك) ، والتي يتم توفير الكثير منها من قبل الموردين المعنيين. يُقصد
                    بالفندق أو أي تصنيفات أخرى معروضة على هذا الموقع الإلكتروني أن تكون بمثابة إرشادات عامة فقط ، ولا تضمن شركة Akbar Travels والشركات التابعة لشركة Akbar Travels ومورديها دقة التقييمات. لا تقدم أكبر للسفريات والشركات التابعة لشركة أكبر
                    للسفريات ومورديها أي ضمانات بشأن توفر منتجات وخدمات محددة. قد تقوم Akbar Travels بإجراء تحسينات و / أو تغييرات على هذا الموقع في أي وقت. لا تضمن Akbar Travels أن الوظائف التي يحتوي عليها هذا الموقع ستكون دون انقطاع أو خالية من الأخطاء
                    ، أو أنه سيتم تصحيح العيوب ، أو أن هذا الموقع أو الخوادم التي تتيحه خالية من الفيروسات أو المكونات الضارة الأخرى ، ولكن يجب أن تسعى لضمان رضاك ​​التام لا تضمن Akbar Travels أو تقدم أي تعهدات فيما يتعلق باستخدام أو نتيجة استخدام المواد
                    الموجودة على الموقع من حيث صحتها أو دقتها أو موثوقيتها أو غير ذلك ، بقدر ما تكون هذه المواد مشتق من مقدمي الخدمات الآخرين مثل شركات الطيران ومالكي الفنادق ومنظمي الرحلات السياحية. أنت تقر بأن هذا الموقع يتم توفيره فقط على الأساس المنصوص
                    عليه في هذه الشروط والأحكام. قد يتم منع وصولك أو استخدامك غير المنقطع لهذا الموقع على هذا الأساس من خلال عوامل معينة خارجة عن سيطرتنا المعقولة بما في ذلك ، على سبيل المثال لا الحصر ، عدم توفر الإنترنت أو خدمات الاتصالات الأخرى أو عدم
                    تشغيلها أو انقطاعها أو نتيجة لأي صيانة أو أعمال خدمة أخرى نفذت على هذا الموقع. أكبر للسفريات لا تتحمل أي مسؤولية ولن تكون مسؤولة عن أي خسارة أو ضرر من أي نوع ينشأ عن أو فيما يتعلق بأي قدرة / عدم القدرة على الوصول إلى أو استخدام الموقع. أنت
                    تقر أيضًا أنه من خلال هذا الموقع ، تقدم Akbar Travels خدمات وسيطة فقط من أجل تسهيل الخدمات عالية الجودة لك. Akbar Travels ليست مزود خدمة الميل الأخير لك ، وبالتالي ، لن تكون Akbar Travels مسؤولة أو تعتبر مسؤولة عن أي نقص أو نقص في
                    الخدمات التي يقدمها أي شخص (شركة طيران ، أو منظم سفر / رحلة ، أو فندق ، أو منشأة أو وكالة مماثلة ) يجب عليك المشاركة أو التوظيف أو التعيين وفقًا للمادة المتوفرة في هذا الموقع أو الناتجة عنها. أكبر للسفريات ، شركات أكبر للسفريات ، ومورديهم
                    بموجب هذه الاتفاقية يتنصلون من جميع الضمانات والشروط المتعلقة بهذه المعلومات والبرامج والمنتجات والخدمات ، بما في ذلك جميع الضمانات الضمنية وشروط القابلية للتسويق والجودة المرضية والملاءمة لغرض معين والملكية وعدم الانتهاك. لن تكون
                    أكبر للسفريات مسؤولة تجاهك أو تجاه أي شخص آخر عن أي خسارة مباشرة أو غير مباشرة أو عرضية أو عقابية أو تبعية أو ضرر أو تكلفة أو مصروفات من أي نوع مهما كان سببها من استخدامك لهذا الموقع. لن تتحمل أكبر للسفريات والشركات التابعة لأكبر ترافيلز
                    ومورديها بأي حال من الأحوال المسؤولية عن أي أضرار مباشرة أو غير مباشرة أو عقابية أو عرضية أو خاصة أو تبعية تنشأ عن أو مرتبطة بأي شكل من الأشكال بوصولك إلى أو عرض أو استخدام هذا الموقع أو مع التأخير أو عدم القدرة على الوصول إليه ، عرض
                    أو استخدام هذا الموقع (بما في ذلك ، على سبيل المثال لا الحصر ، اعتمادك على الآراء التي تظهر على موقع الويب هذا ؛ أي فيروسات كمبيوتر أو معلومات أو برامج أو مواقع مرتبطة أو منتجات أو خدمات يتم الحصول عليها من خلال هذا الموقع ؛ أو تنشأ
                    بطريقة أخرى عن الوصول إلى هذا الموقع أو عرضه أو استخدامه) سواء استنادًا إلى نظرية الإهمال أو العقد أو المسؤولية التقصيرية أو المسؤولية الصارمة أو غير ذلك ، وحتى إذا تم إخطار شركات مجموعة أكبر للسفريات والشركات التابعة لشركة أكبر للسفريات
                    ومورديها من إمكانية حدوث مثل هذه الأضرار. أنت توافق على الدفاع عن وتعويض أكبر للسفريات والشركات التابعة لأكبر للسفريات ومورديهم وأي من مسؤوليهم ومديريهم وموظفيهم ووكلائهم من وضد أي مطالبات وأسباب الدعوى والمطالب والمبالغ المستردة والخسائر
                    والأضرار والغرامات ،
                </p>
                <div class="dirctionli">
                    <div>1. خرقك لهذه الاتفاقية أو المستندات المشار إليها هنا ؛ أو</div>
                    <div>2. انتهاكك لأي قانون أو حقوق طرف ثالث</div>
                </div>
                <p>
                    بصرف النظر عن أي شيء آخر يتعارض مع ذلك وارد في أي مكان آخر هنا أو بموجب القانون ، فإن مسؤولية أكبر للسفريات (سواء عن طريق التعويض لك أو غير ذلك) يجب أن تكون محدودة بحد أقصى 1000 روبية هندية (ألف روبية هندية فقط).
                </p>
                <h3>التوفر</h3>
                <p>
                    قد لا تكون المنتجات والخدمات المعروضة على الموقع متاحة للشراء في بلدك أو منطقتك المحلية. الإشارة إلى هذه المنتجات والخدمات على الموقع لا تعني أو تضمن أن هذه المنتجات أو الخدمات ستكون متاحة في أي وقت في موقعك الجغرافي المحدد. يجب عليك مراجعة الممثل المحلي
                    المعتمد لشركة Akbar Travels لمعرفة مدى توفر منتجات وخدمات معينة في منطقتك.
                </p>
                <h3>شزوط واشتراطات الاستخدام</h3>
                <p>
                    قد تضيف Akbar Travels أو تغير أو تزيل أي جزء من شروط وأحكام الاستخدام هذه في أي وقت ، دون إشعار. تسري أي تغييرات على شروط وأحكام الاستخدام هذه أو أي شروط منشورة على هذا الموقع بمجرد نشرها. من خلال الاستمرار في استخدام هذا الموقع بعد نشر أي تغييرات ، فإنك
                    تشير إلى موافقتك على هذه التغييرات. يجوز لشركة Akbar Travels إضافة أو تغيير أو إيقاف أو إزالة أو تعليق أي محتوى آخر منشور على هذا الموقع ، بما في ذلك ميزات ومواصفات المنتجات الموضحة أو الموضحة على الموقع ، بشكل مؤقت أو دائم ، في أي
                    وقت ، دون إشعار ودون مسؤولية.
                </p>
                <p>
                    تحتفظ أكبر للسفريات بالحق في اتخاذ جميع الخطوات اللازمة لضمان أن أمن وسلامة وسلامة أنظمة أكبر للسفريات بالإضافة إلى مصالح عملائها محمية بشكل جيد وستظل كذلك.
                </p>
                <p>
                    تحقيقًا لهذه الغاية ، قد تتخذ أكبر للسفريات خطوات مختلفة للتحقق والتأكد من أصالة الطلبات التي قدمتها وقابلية إنفاذها وصلاحيتها.
                </p>
                <p>
                    إذا استنتجت شركة Akbar Travels ، وفقًا لتقديرها الوحيد والحصري ، أن الطلبات المذكورة ليست أو لا تبدو بشكل معقول أنها أصلية أو قابلة للتنفيذ أو صالحة ، فيجوز لشركة Akbar Travels إلغاء الطلبات المذكورة في أي وقت حتى 5 ساعات قبل الموعد المقرر وقت مغادرة
                    الرحلة ذات الصلة أو قبل 5 ساعات من التاريخ المتوقع للزيارة إلى أي عقار محجوز من خلال أكبر للسفريات.
                </p>
                <h3>الأحكام العامة</h3>
                <p>
                    يمكنك السفر إلى وجهات معينة تنطوي على مخاطر أكبر من غيرها ، على مسؤوليتك بالكامل فيما يتعلق بالتكلفة والعواقب.
                </p>
                <p>
                    تطلب شركة Akbar Travels منك استشارة السلطات المحلية وتقييم حظر السفر والتحذيرات والإعلانات والإرشادات الصادرة عنها قبل حجز السفر إلى وجهات دولية معينة.
                </p>
                <p>
                    من خلال عرض السفر للبيع إلى وجهات دولية معينة ، لا تقر Akbar Travels أو تضمن أن السفر إلى هذه النقطة موصى به أو بدون مخاطر. أكبر للسفريات لا تتحمل المسؤولية عن الأضرار أو الخسائر أو التأخيرات التي قد تنجم عن وثائق غير صحيحة للدخول أو الخروج أو مدة الإقامة
                    أو من السفر إلى هذه الوجهات.
                </p>
                <p>
                    أكبر للسفريات والشركات التابعة لشركة أكبر للسفريات ومورديها المعنيين غير مسؤولين عن الأفعال أو الأخطاء أو الإغفالات أو الإقرارات أو الضمانات أو الانتهاكات أو الإهمال لأي شركات طيران أو فنادق أو موردين آخرين أو عن أي إصابات شخصية أو وفاة أو تلف في الممتلكات
                    أو غير ذلك. الأضرار أو النفقات الناتجة عن ذلك. أكبر للسفريات والشركات التابعة لأكبر للسفريات ومورديهم المعنيين لا يتحملون أي مسؤولية ولن يقوموا باسترداد الأموال في حالة حدوث أي تأخير أو إلغاء أو حجز زائد أو إضراب أو قوة قاهرة أو أسباب
                    أخرى خارجة عن سيطرتهم المباشرة ، ولا يتحملون أي مسؤولية عن أي نفقات إضافية أو الحذف أو التأخير أو إعادة التوجيه أو أفعال أي حكومة أو سلطة.
                </p>
                <p>
                    تحتفظ Akbar Travels بحقها الحصري وفقًا لتقديرها الخاص في تغيير أو تقييد أو إيقاف الموقع أو أي مادة منشورة هنا ، بأي شكل من الأشكال. أكبر للسفريات ليست ملزمة بأخذ احتياجات أي مستخدم في الاعتبار فيما يتعلق بذلك.
                </p>
                <p>
                    تحتفظ Akbar Travels بحقها في رفض وصول أي مستخدم إلى هذا الموقع أو أي جزء منه دون إشعار ، وفقًا لتقديرها الخاص.
                </p>
                <p>
                    أنت توافق على الالتزام بشروط وأحكام الشراء التي يفرضها أي مورد تختار التعامل معه ، بما في ذلك ، على سبيل المثال لا الحصر ، دفع جميع المبالغ عند استحقاقها ومع قواعد وقيود المورد فيما يتعلق بتوافر واستخدام الأسعار والمنتجات ، أو الخدمات. أنت تقر بأن بعض
                    مزودي الطرف الثالث الذين يقدمون خدمات و / أو أنشطة معينة قد يطلبون منك التوقيع على إعفاء من المسؤولية قبل المشاركة في الخدمة و / أو النشاط الذي يقدمونه. أنت تدرك أن أي انتهاك لقواعد وقيود أي من هؤلاء الموردين قد يؤدي إلى إلغاء حجزك
                    (حجوزاتك) ، في حرمانك من الوصول إلى منتج أو خدمات السفر المطبقة ، في مصادرتك أي أموال مدفوعة لهذا الحجز (الحجوزات) ،
                </p>
                <p>
                    لن يكون أي تنازل من قبل Akbar Travels عن أي حكم من هذه الشروط والأحكام ملزمًا باستثناء ما هو منصوص عليه في الكتابة وموقعًا من قبل ممثلها المفوض حسب الأصول.
                </p>
                <p>
                    إذا نشأ أي نزاع بينك وبين Akbar Travels أثناء استخدامك للموقع أو بعد ذلك ، فيما يتعلق باستخدامك أو محاولتك استخدام هذا الموقع أو ناشئًا عنه ، فسيتم إحالة النزاع إلى التحكيم. يجب أن يكون مكان التحكيم مومباي. يجب أن تكون إجراءات التحكيم باللغة الإنجليزية.
                </p>
                <p>
                    تخضع إجراءات التحكيم المذكورة وتفسر وفقًا لقانون التحكيم والتوفيق لعام 1996 وتعديلاته السارية في الوقت ذي الصلة.
                </p>
                <p>
                    تخضع هذه الشروط والأحكام وتفسر وفقًا لقوانين جمهورية الهند ، ويخضع أي نزاع حصريًا للاختصاص القضائي للمحاكم المناسبة الموجودة في مومباي ، ماهاراشترا ، الهند.
                </p>
                <p>
                    يتم بيع جميع منتجاتنا الواردة بالتفصيل في هذا الموقع وفقًا لهذه الشروط والأحكام ، وينطبق الشيء نفسه على العقد المبرم بيننا.
                </p>
                <p>
                    في حالة حجز أي جولات أو منتجات أو خدمات سفر لطرف ثالث مثل الرحلات الجوية والفنادق والحافلات والسكك الحديدية والرحلات البحرية ومشاهدة المعالم السياحية وما إلى ذلك ، يجب أن تكون الشروط والأحكام المحددة من قبل هذا المشغل ، بما في ذلك جدول الدفع والإلغاء
                    والاسترداد وما إلى ذلك. قابلة للتطبيق ، بالإضافة إلى الشروط والأحكام الخاصة بنا.
                </p>
                <p>
                    عندما تحجز أو تشتري خدمات السفر من خلال موقع akbartravels.com ، يجب علينا تقديم بعض معلوماتك الشخصية إلى شركة الطيران أو الفندق أو وكالة تأجير السيارات أو وكالة السفر أو أي طرف ثالث معني لتمكين التنفيذ الناجح لترتيبات السفر الخاصة بك. يتم تقديم الخدمات
                    من قبل كيانات مستقلة تمتلك أو تدير شركات الطيران والنقل السطحي والفنادق والرحلات البحرية وما إلى ذلك. على الرغم من أننا نختار موردين مرموقين بعد أن نفحص بنيتهم ​​التحتية ، إلا أنه ليس لدينا سيطرة مباشرة على هذه الخدمات أو الأشخاص الذين
                    يقدمون هذه الخدمات أو العاملين. في حالة عرض منتجات طرف ثالث على موقعنا ، فإننا لا نتحمل أي مسؤولية عن نصوص أو جودة أو سلامة المنتج بأي شكل من الأشكال. شركة أكبر للحجز عبر الإنترنت الجندي. المحدودة لن تكون بأي حال من الأحوال مسؤولة
                    أو مسؤولة عن أي خسارة ، الضرر أو الإصابة التي تلحق بالمستخدم نتيجة الاستفادة من هذه المنتجات والخدمات المعلن عنها من قبل أطراف ثالثة على الموقع الإلكتروني. ومع ذلك ، في حالة عدم رضا العميل عن خدمة معينة ، يمكننا تناول الأمر مع المورد
                    إذا تم إخطارنا على الفور وفقًا للعملية الموضحة في هذا المستند.
                </p>
                <p>
                    نظرًا لأننا نحجز الخدمات مقدمًا ونلتزم بالوفاء بالالتزامات المتعلقة بالدفع للموردين ، فإن إلغاء الخدمات المخصصة يؤدي إلى خسارة الشركة للمال اعتمادًا على وقت الاتصال بالإلغاء إلى المورد ، وبالتالي ، جدول الإلغاء ، وهو بناءً على ما سبق ، من بين العوامل
                    الأخرى التي تصبح قابلة للتطبيق عند الإلغاء.
                </p>
            </div>

        </div>
    </div>
</div>