<div class="train-shimmer-div">
    <div class="web_view">
        <div class="onwrd-txt shine"></div>
        <div class="card-div-web d-flex justify-content-between" *ngFor="let i of [].constructor(5)">
            <div class="inner-text shine"></div>
            <div class="inner-text shine"></div>
            <div class="inner-text shine"></div>
            <div class="inner-text shine"></div>
            <div class="inner-text shine"></div>
        </div>
    </div>
    <div class="mob_view mobile-pading">
        <div class="onwrd-txt shine"></div>
        <div class="card-div-web" *ngFor="let i of [].constructor(5)">
            <div class="d-flex justify-content-between top-div-card">
                <div class="shine inner-text-mob"></div>
                <div class="shine inner-text-mob"></div>
                <div class="shine inner-text-mob"></div>
            </div>
            <div class="d-flex justify-content-between mb-2">
                <div class="shine radio-text-mob"></div>
                <div class="shine radio-text-mob"></div>
            </div>
            <div class="shine h35 w-100"></div>
        </div>
    </div>
</div>
