.train-shimmer-div{
    .onwrd-txt{
        height: 20px;
        width: 200px;
        margin-bottom: 5px;
    }
    .card-div-web{
        background: #fff;
        border: 1px solid rgba(156, 170, 179, 0.28);
        box-shadow: 0 0 9px 0 rgb(0 0 0 / 10%);
        border-radius: 5px;
        padding: 10px 15px;
        margin: 0 0 15px;
        width: 100%;
    }
    .inner-text{
        height: 40px;
        width: 100px;
    }
    .inner-text-mob{
        height: 30px;
        width: 80px;
    }
    .radio-text-mob{
        height: 20px;
        width: 100px;
    }
    .mobile-pading{
        padding-top: 10px;
    }
    .top-div-card{
        padding-bottom: 10px;
        border-bottom: 1px solid #efefef;
        margin-bottom: 10px;
    }
}