.booking-rqst-div{
    .req-info-div{
        padding-top: 10px;
        .main-req-text{
            font-size: 18px;
            margin-bottom: 0;
        }
    }
   
}

.req-eq-image{
    width: 280px;
    img{
        width: 100%;
        height: auto;
        object-fit: contain;
    }
}