.passenger-details-div{
    padding-bottom: 20px;
    .font9imp {
        font-size: 9px !important;
    }
    .divider-div{
        border-right: 1px solid #e1e1e1;
        margin: 0 5px;
        height: 20px;
    }
    .brdrtop {
        border-top: 1px solid #e1e1e1;
    }
    p{
        margin-bottom: 0;
    }
}