<div class="hotel-details-shimmer ">
    <div class="topBar" *ngIf="hotelShimmer"></div>
    <div class="hotel-img-div container" *ngIf="hotelShimmer">
        <div class="row">
            <div class="col-md-6 row px-0 mx-0">
                <div class="col-md-9">
                    <div class="shine hotel-img-bg"></div>
                </div>
                <div class="col-md-3 hotelimgegallery">
                    <div class="shine hotel-img-sm"></div>
                    <div class="shine hotel-img-sm"></div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="d-flex justify-content-between">
                    <div>
                        <div class="text shine text_wdth"></div>
                        <div class="text shine text_wdth"></div>
                        <div class="text shine text_wdth"></div>
                    </div>
                    <div class="text-center">
                        <div class="text shine min-wdth"></div>
                        <div class="text shine min-wdth"></div>
                    </div>
                    <div class="text_end">
                        <div class="text shine text_wdth"></div>
                        <div class="text shine text_wdth"></div>
                        <div class="text shine text_wdth"></div>
                    </div>
                </div>
                <div class="mt-2">
                    <div class="text w-100 shine"></div>
                    <div class="text w-100 shine"></div>
                    <div class="text w-100 shine"></div>
                </div>
            </div>
        </div>
    </div>

    <div class="hotel-img-div container" *ngIf="hotelShimmer">
        <div class="w-100 shine supPcc"></div>
    </div>

    <div class="hotel-img-div container">
        <div class="row mx-0">
            <div class="col-md-10 row mx-0 px-0">
                <div class="col-md-2">
                    <div class="shine text w-100"></div>
                </div>
                <div class="col-md-7">
                    <div class="shine text text_wdth"></div>
                </div>
                <div class="col-md-3 text-center">
                    <div class="shine text w-50"></div>
                </div>
            </div>
            <div class="col-md-2 text-center">
                <div class="shine text w-50"></div>
            </div>
            <div class="col-md-10 row mx-0 px-0 room-allocation">
                <div class="col-md-2 text-center p10">
                    <div class="shine text w-50"></div>
                    <div class="shine text w-75"></div>
                </div>
                <div class="col-md-7 px-0 border-room">
                    <div class="d-flex p10">
                        <div class="shine room-img mr-2"></div>
                        <div>
                            <div class="shine text text_wdth"></div><br>
                            <div class="shine text text_wdth"></div><br>
                            <div class="shine text text_wdth"></div><br>
                            <div class="shine text text_wdth"></div>
                        </div>
                    </div>
                    <div class="shine mealtype-div"></div>
                </div>
                <div class="col-md-3 p20 text-center">
                    <div class="shine text w-100"></div>
                    <div class="shine text w-50"></div>
                    <div class="shine text w-75"></div>
                </div>
            </div>
            <div class="col-md-2 text-center p20">
                <div class="shine text w-100"></div>
                <div class="shine text w-50"></div>
            </div>
        </div>
    </div>
    <div class="hotel-img-div container" *ngIf="hotelShimmer">

    </div>
</div>