<div class="slider-outer">
    <div class="slider-data">
        <div class="row">
            <div class="small">Country</div>
            <div class="big">Dubai</div>
        </div>
        <div class="row">
            <div class="small">Booking Date</div>
            <div class="big">14 Nov 2020</div>
        </div>
        <div class="row">
            <div class="small">Visa Type</div>
            <div class="big">30 days tourist visa</div>
        </div>
        <div class="row">
            <div class="small">Reference No.</div>
            <div class="big">A0123456789</div>
        </div>
        <div class="row-status">
            <p>Approved</p>
        </div>
        <div class="search">
            <div class="small"><span class="ak-zoom-in"></span> <a href="">View</a></div>
        </div>
    </div>
    <div class="slider-data">
        <div class="row">
            <div class="small">Country</div>
            <div class="big">Dubai</div>
        </div>
        <div class="row">
            <div class="small">Booking Date</div>
            <div class="big">14 Nov 2020</div>
        </div>
        <div class="row">
            <div class="small">Visa Type</div>
            <div class="big">30 days tourist visa</div>
        </div>
        <div class="row">
            <div class="small">Reference No.</div>
            <div class="big">A0123456789</div>
        </div>
        <div class="row-status">
            <p>Approved</p>
        </div>
        <div class="search">
            <div class="small"><span class="ak-zoom-in"></span> <a href="">View</a></div>
        </div>
    </div>
    <div class="slider-data">
        <div class="row">
            <div class="small">Country</div>
            <div class="big">Dubai</div>
        </div>
        <div class="row">
            <div class="small">Booking Date</div>
            <div class="big">14 Nov 2020</div>
        </div>
        <div class="row">
            <div class="small">Visa Type</div>
            <div class="big">30 days tourist visa</div>
        </div>
        <div class="row">
            <div class="small">Reference No.</div>
            <div class="big">A0123456789</div>
        </div>
        <div class="row-status">
            <p class="orange">Waiting</p>
        </div>
        <div class="search">
            <div class="small"><span class="ak-zoom-in"></span> <a href="">View</a></div>
        </div>
    </div>
    <div class="slider-data">
        <div class="row">
            <div class="small">Country</div>
            <div class="big">Dubai</div>
        </div>
        <div class="row">
            <div class="small">Booking Date</div>
            <div class="big">14 Nov 2020</div>
        </div>
        <div class="row">
            <div class="small">Visa Type</div>
            <div class="big">30 days tourist visa</div>
        </div>
        <div class="row">
            <div class="small">Reference No.</div>
            <div class="big">A0123456789</div>
        </div>
        <div class="row-status">
            <p>Approved</p>
        </div>
        <div class="search">
            <div class="small"><span class="ak-zoom-in"></span> <a href="">View</a></div>
        </div>
    </div>
    <div class="slider-data">
        <div class="row">
            <div class="small">Country</div>
            <div class="big">Dubai</div>
        </div>
        <div class="row">
            <div class="small">Booking Date</div>
            <div class="big">14 Nov 2020</div>
        </div>
        <div class="row">
            <div class="small">Visa Type</div>
            <div class="big">30 days tourist visa</div>
        </div>
        <div class="row">
            <div class="small">Reference No.</div>
            <div class="big">A0123456789</div>
        </div>
        <div class="row-status">
            <p>Approved</p>
        </div>
        <div class="search">
            <div class="small"><span class="ak-zoom-in"></span> <a href="">View</a></div>
        </div>
    </div>
    <div class="slider-data">
        <div class="row">
            <div class="small">Country</div>
            <div class="big">Dubai</div>
        </div>
        <div class="row">
            <div class="small">Booking Date</div>
            <div class="big">14 Nov 2020</div>
        </div>
        <div class="row">
            <div class="small">Visa Type</div>
            <div class="big">30 days tourist visa</div>
        </div>
        <div class="row">
            <div class="small">Reference No.</div>
            <div class="big">A0123456789</div>
        </div>
        <div class="row-status">
            <p class="red">Rejected</p>
        </div>
        <div class="search">
            <div class="small"><span class="ak-zoom-in"></span> <a href="">View</a></div>
        </div>
    </div>
    <div class="slider-data">
        <div class="row">
            <div class="small">Country</div>
            <div class="big">Dubai</div>
        </div>
        <div class="row">
            <div class="small">Booking Date</div>
            <div class="big">14 Nov 2020</div>
        </div>
        <div class="row">
            <div class="small">Visa Type</div>
            <div class="big">30 days tourist visa</div>
        </div>
        <div class="row">
            <div class="small">Reference No.</div>
            <div class="big">A0123456789</div>
        </div>
        <div class="row-status">
            <p>Approved</p>
        </div>
        <div class="search">
            <div class="small"><span class="ak-zoom-in"></span> <a href="">View</a></div>
        </div>
    </div>
    <div class="slider-data">
        <div class="row">
            <div class="small">Country</div>
            <div class="big">Dubai</div>
        </div>
        <div class="row">
            <div class="small">Booking Date</div>
            <div class="big">14 Nov 2020</div>
        </div>
        <div class="row">
            <div class="small">Visa Type</div>
            <div class="big">30 days tourist visa</div>
        </div>
        <div class="row">
            <div class="small">Reference No.</div>
            <div class="big">A0123456789</div>
        </div>
        <div class="row-status">
            <p>Approved</p>
        </div>
        <div class="search">
            <div class="small"><span class="ak-zoom-in"></span> <a href="">View</a></div>
        </div>
    </div>
</div>