.subpcc-update-div{
    .submit-form-card{
        padding: 10px;
        margin-top: 10px;
    }
    .body-div{
        padding-top: 20px;
    }
    .text-list{
        font-size: 18px;
        font-weight: 500;
    }
    .hotel-name{
        font-size: 15px;
        font-weight: 500;
        color: #000;
    }
    .sub-text{
        font-size: 13px;
        font-weight: 500;
        color: #000;
    }
    .bttn_h{
        min-height: 20px;
    }
    .mdtryStrr {
        color: red;
        font-size: 20px
    }
    .calendarposition {
        position: absolute;
        top: 10px;
        right: 10px;
    }
    #subpccList {
        .thead-light th {
            font-weight: bold;
            font-size: 14px;
        }
    }
    
    #subpccList td {
        font-size: 14px;
    }

    .errorclass {
        width: 100%;
        margin-top: .25rem;
        font-size: 80%;
        color: #dc3545;
    }

    .iconfa {
        cursor: pointer;
    }
    
    .iconfa:hover {
        color: red;
    }
    
}










