<div class="hotel-card-shimmer-div" >
    <div class="uitk-card">
        <div class="row">
            <div class="col-md-3">
                <div class="shine image-section"></div>
            </div>
            <div class="col-md-9">
                <div class="row">
                    <div class="col-md-8 body-section">
                        <div class="w-75 lines shine mb-2"></div>
                        <div class="w-50 lines shine mb-2"></div>
                        <div class="w-100 lines shine mb-2"></div>
                        <div class="w-100 lines shine mb-2"></div>
                    </div>
                    <div class="col-md-4 select-section">
                        <div class="w-75 lines shine mb-2"></div>
                        <div class="w-50 lines shine mb-2"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>