.confirmation-shimmer-div{
    .shimmer-card{
        background-color: #fff;
        padding: 20px;
        height: 220px;
        width: 100%;
        margin-top: 20px;
        box-shadow: 0 0 9px 0 rgb(0 0 0 / 15%);
        border: solid 1px rgba(156, 170, 179, 0.28);
        border-radius: 4px;
    }

    .booking-card{
        background-color: #fff;
        padding: 20px;
        height: 400px;
        width: 100%;
        margin-top: 20px;
        box-shadow: 0 0 9px 0 rgb(0 0 0 / 15%);
        border: solid 1px rgba(156, 170, 179, 0.28);
        border-radius: 4px;
    }

    .button-card{
        background-color: #fff;
        padding: 20px;
        height: 100px;
        width: 100%;
        margin-top: 20px;
        box-shadow: 0 0 9px 0 rgb(0 0 0 / 15%);
        border: solid 1px rgba(156, 170, 179, 0.28);
        border-radius: 4px;
    }
}