<div class="whatsapplogin-div">
    <div class="backgroundimage" id="signUpForm">
        <div class="bagroundblure">
          <div class="extraimg">
            <img src="/assets/images/lanterns.png" alt="">
          </div>
          <div class="bagroundblure" fxLayout="column" fxLayoutAlign="center center">
            <div class="logoimg"><img src="/assets/images/akbar-umrah-logo.png" alt=""></div>
            <div style="height: 50px;"></div>
            <div class="waviy">
                <span style="--i:1">L</span>
                <span style="--i:2">O</span>
                <span style="--i:3">G</span>
                <span style="--i:4">I</span>
                <span style="--i:5">N</span>
                <span style="width: 10px;"></span>
                <span style="--i:6">B</span>
                <span style="--i:7">2</span>
                <span style="--i:8">B</span>
            </div>
          </div>
          
        </div>
    </div>
</div>

   